html, body
{
    margin: 0;
    padding: 0;
}

header
{
    position: relative;
    height: 150px;
}

.topLane
{
    position: absolute;
    height: 150px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    right: 0;
    left: 0;
}

.logoContainer
{
    position: absolute;
    height: 140px;
    width: 495px;
    margin-top: 5px;
}

.logo
{
    padding-left: 50px;
}

.sloganContainer
{
    position: absolute;
    height: 80px;
    width: 495px;
    margin-top: 35px;
    margin-right: auto;
    right: 0;
}

.slogan
{
    cursor: default;
    text-align: right;
    padding-top: 20px;
    padding-right: 50px;
    font-size: 50px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color : #011B58;
    text-shadow: 1px 1px 7px #F9B042;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menuContainer
{
    position: relative;
    height: 250px;
    background: rgb(90, 90, 90);
}

.menuBox
{
    position: absolute;
    height: 200px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    border: 1px solid rgb(180, 180, 180);
}

ul
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.menuStyle
{
    position: relative;
    cursor: default;
    height: 30px;
    width: 250px;
    text-align: center;
    padding-top: 10px;
    color: #F9B042;
    background-color: rgb(45, 45, 45);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.menuStyle:hover
{
    transition-delay: 0.1s;
    background-color: #011B58;
}

.picture
{
    position: relative;
    height: 80px;
    width: 250px;
    background-image: url('../images/containerBoatResize.jpg');
}

.diapo
{
    position: absolute;
    height: 200px;
    width: 750px;
    margin-right: auto;
    margin-top: auto;
    right: 0;
    top: 0;
    background-color: green;
}

.contentContainer
{
    position: relative;
    height: 1200px;
}

.contentMain
{
    position: absolute;
    height: 1150px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.leftSideMenus
{
    float: left;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.contactMenu
{
    height: 125px;
    width: 250px;
    margin-top: 20px;
    border: 1px solid rgb(180, 180, 180);
}

.contactImage
{
    position: relative;
    height: 95px;
    width: 250px;
}

.contactImageBack
{
    position: absolute;
    height: 95px;
    width: 250px;
    z-index: -1;
    background-image: url('../images/contactUs.jpg');
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.contactImageBack:hover
{
    opacity: 0.2;
}

.contactImageTextHeader
{
    position: absolute;
    height: 25px;
    width: 250px;
    padding-top: 5px;
    padding-left: 5px;
    color: #F9B042;
    font-weight: bold;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.contactImageText
{
    position: absolute;
    height: 55px;
    width: 250px;
    padding-top: 40px;
    padding-left: 5px;
    color: #FFFFFF;
    font-size: small;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.contactImageText:hover
{
    color: #000000;
}

.contactImageText:hover + .contactImageBack
{
    opacity: 0.2;
}

.contactLink
{
    height: 23px;
    width: 250px;
    text-align: center;
    padding-top: 7px;
    color: #F9B042;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: small;
    background-color: rgb(45, 45, 45);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.contactLink:hover
{
    transition-delay: 0.1s;
    background-color: #011B58;
}

.localisationMenu
{
    height: 125px;
    width: 250px;
    margin-top: 15px;
    border: 1px solid rgb(180, 180, 180);
}

.mainMenu
{
    float: right;
    height: 1130px;
    width: 725px;
    margin-top: 20px;
    border: 1px solid rgb(180, 180, 180);
}

.sideContent
{
    position: absolute;
    height: 1180px;
    width: 200px;
    left: 525px;
    border: 1px solid rgb(180, 180, 180);
}

.main
{
    position: absolute;
    height: 1180px;
    width: 525px;
    border: 1px solid rgb(180, 180, 180);
}

footer
{
    position: relative;
    height: 250px;
    background-color: rgb(45, 45, 45);
}

.footerLinks
{
    position: absolute;
    height: 200px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    border: 1px solid rgb(108, 110, 119);
    background: rgb(90, 90, 90);
}