html, body
{
    margin: 0;
    padding: 0;
}

header
{
    position: relative;
    height: 150px;
    border: 1px solid black;
}

.topLane
{
    position: absolute;
    height: 150px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    right: 0;
    left: 0;
    border: 1px solid red;
}

.logo
{
    position: absolute;
    height: 80px;
    width: 300px;
    margin-top: 35px;
    border: 1px solid blue;
}

.slogan
{ 
    position: absolute;
    height: 80px;
    width: 300px;
    margin-top: 35px;
    margin-right: auto;
    right: 0;
    border: 1px solid green;
}

.menuContainer
{
    position: relative;
    height: 250px;
    border: 1px solid black;
}

.menuBox
{
    position: absolute;
    height: 200px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    border: 1px solid red;
}

.contentContainer
{
    position: relative;
    height: 1200px;
    border: 1px solid black;
}

.shadowFooter
{
    width: 960px;
    height: 20px;
    margin: 0px auto;
    background: url("../images/pdp-ombre.jpg") no-repeat scroll 0% 0% transparent;
}

footer
{
    position: relative;
    height: 250px;
    background-color: rgb(45, 45, 45);
}

.footerLinks
{
    position: absolute;
    height: 200px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    border: 1px solid rgb(108, 110, 119);
    background: rgb(90, 90, 90);
}