<!DOCTYPE html>
<html ng-app ng-controller="ctrl">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" href="css/homepage.css"/>
        <link rel="stylesheet" href="ressources/css/bootstrap.min.css">
        <link rel="icon" href="">
        <title>Mediterranean Distribution Company</title>

        <script src="ressources/angular.min.js"></script>
        <script type="text/javascript" src="ressources/jquery-2.0.3.min.js"></script>
        <script src="ressources/js/bootstrap.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAU0D5HykW8a2Sc6TDlhJhExnI4dy9KVnM&sensor=false"></script>

        <script type="text/javascript">
            function ctrl ($scope, $http) {
                $scope.contentData = [];
                $scope.typeData = [];
                $scope.categoryData = [];
                $http({method: 'GET', url: 'database.json'}).success( function (data) {
                    for (var item in data.category) {
                        var category = data.category[item];
                        $scope.categoryData.push(item);
                        for (var field in category) {
                            var type = category[field];
                            $scope.typeData.push(field);
                            for (var content in type.data) {
                                $scope.contentData.push(type.data[content]);
                            }
                        }
                    }
                });
                $scope.box = ["Accueil", "Produits", "MDC en quelques mots"];
                $scope.selectedMenu = 0;
                $scope.filter1 = "all";
                $scope.filter2 = "all";
                
                $scope.selectPage = function (index, filter) {
                    $scope.selectedMenu = index;
                    $scope.filter1 = filter;
                };
                
                $scope.selectFilter2 = function (filter) {
                   $scope.filter2 = filter;
                };
                $scope.reset = function () {
                    $scope.filter1 = "all";
                    $scope.filter2 = "all";
                };
            }

            $(document).ready(function() {
                $('#myCarousel').carousel( {
                    interval: 4000
                });
                
                $('#localisationMenu').on('click', function () {
                    $('#myModal').modal();
                    var map;
                    var myLatLng = new google.maps.LatLng(48.87022, 2.30603);
                    var mapOptions =
                    {
                        zoom: 24,
                        center: myLatLng,
                        disableDefaultUI: true,
                        panControl: true,
                        zoomControl: true,
                        mapTypeControl: true,
                        scaleControl: true,
                        streetViewControl: true,
                        overviewMapControl: true
                    };
                    map = new google.maps.Map(document.getElementById('localisationMap'), mapOptions);

                    var windowContent = 'test';
                    var infoWindow = new google.maps.InfoWindow( {
                        content: windowContent
                    });

                    var marker = new google.maps.Marker( {
                        position: myLatLng,
                        map: map,
                        title: "MDC"
                    });

                    infoWindow.open(map, marker);
                    google.maps.event.addListener(marker, 'click', function() {
                        infoWindow.open(map, marker);
                    });
                });
            });
        </script>
    </head>

    <body>
        <div id="header">
            <div id="topLane">
                <div id="logoContainer">
                    <div id="logo">
                        <img src="images/logo.gif" alt="">
                    </div>
                </div>
                 <div id="sloganContainer">
                    <div id="slogan">
                        Slogan !
                    </div>
                </div>
            </div>
        </div>
  
        <div id="body">
            <div id="menuContainer">
                <div id="menuBox">
                    <ul>
                        <li ng-repeat="menu in box">
                            <div class="menuStyle" id="{{'menuStyle-' + $index}}" ng-click="selectPage($index, 'all')" ng-bind="menu"></div>
                        </li>
                    </ul>
                    <div id="picture">
                    </div>

                    <div id="diapo">
                        <div id="myCarousel" class="carousel slide">
                            <ol class="carousel-indicators">
                              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                              <li data-target="#myCarousel" data-slide-to="1"></li>
                              <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="active item">
                                    <img src="images/test1.jpg" alt="">
                                    <div class="carousel-caption">
                                        <h4>Titre test 1</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="images/test2.jpg" alt="">
                                    <div class="carousel-caption">
                                        <h4>Titre test 2</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="images/test3.jpg" alt="">
                                    <div class="carousel-caption">
                                        <h4>Titre test 3</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Carousel nav -->
                            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="contentContainer">
                <div id="contentMain">
                    <div id="leftSideMenus">
                        <div id="contactMenu" ng-click="selectPage(42, 'all')">
                            <div id="contactImage">
                                <div id="contactImageTextHeader">
                                    Contactez-nous</br>
                                </div>
                                <div id="contactImageText">
                                    Vous souhaitez passer commande ?</br>
                                    Vous voulez de plus ample informations ?</br>
                                </div>
                                <div id="contactImageBack">
                                </div>
                            </div>
                            <div id="contactLink">
                                CONTACTEZ-NOUS
                            </div>
                        </div>
                        <div id="localisationMenu">
                            <div id="localisationImage">
                                <div id="localisationImageTextHeader">
                                    Plan d'accès
                                </div>
                                <div id="localisationImageText">
                                    Vous allez être re-dirigé<br/>
                                    vers Google Maps ...<br/>
                                </div>
                                <div id="localisationImageBack">
                                </div>
                            </div>
                            <div id="localisationLink">
                                PLAN D'ACCÉS
                            </div>
                        </div>
                    </div>

                    <div id="mainMenu">

                        <!-- homepage -->
                        <div id="home1" ng-show="selectedMenu === 0">
                            <div id="homeTitle1">Mediterranean Distribution Company</div></br>
                            <div id="homeSlogan">Slogan !</div></br>
                            <div id="homePresentation">Bienvenue chez MDC, importateur-exportateur de produits agroalimentaires.</div></br>
                            <div id="homePDG">"Notre force, c'est de disposer d'un large éventail de compétences, de manière à proposer à nos clients une gamme étendue de produits agroalimentaires à faible coût et livrer dans les meilleurs délais."</br></br>Georges BENZAHRA, Directeur</div>
                            <div ng-click="selectPage(1, 'fruit')" id="vegetablesContainer"><p class="container-text">link sur la vitrine avc seulement les légumes secs</p></div>
                            <div ng-click="selectPage(1, 'vegetable')" id="fruitsContainer"><p class="container-text">link sur la vitrine avc seulement les fruits secs</p></div>
                        </div>

                        <!-- vitrine -->
                        <div id="home2" ng-show="selectedMenu === 1">
                            <div>Mediterranean Distribution Company</div></br>
                            <div id="vitrineTitle">
                                <ul>
                                    <li ng-click="reset()">
                                         <div>All</div>
                                    </li>
                                    <li ng-click="selectPage(1, category)" ng-repeat="category in categoryData">
                                        <div ng-bind="category"></div>
                                    </li>
                                </ul>
                                <ul>
                                    <li ng-click="selectFilter2('all')">
                                         <div>All</div>
                                    </li>
                                    <li ng-click="selectFilter2(type)" ng-repeat="type in typeData">
                                        <div ng-bind="type"></div>
                                    </li>
                                </ul>
                            </div>
                            <div id="vitrineContent">
                                <ul>
                                    <li ng-show="(product.type === filter1 || filter1 === 'all') && (product.category === filter2 || filter2 == 'all' )" ng-repeat="product in contentData">
                                        <div class="vitrineItem">
                                            <div class="vitrineName" ng-bind="product.name"></div>
                                            <img class="vitrineImage" ng-src="{{product.image}}" alt="">
                                            <div class="vitrineDescription" ng-bind="product.description"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                        <!-- history -->
                        <div id="home3" ng-show="selectedMenu === 2">
                            <h4>Mediterranean Distribution Company</h4>
                            <p>History</p>
                        </div>
                        
                        <!-- page contact -->
                        <div id="home2" ng-show="selectedMenu === 42">
                            <h4 id="homeTitle2">Mediterranean Distribution Company</h4>
                            <p id="contactUsTitle">Contactez-nous</p>
                            <p id="contactUsText">Pour nous contacter vous trouverez nos coordonnées ci-dessous ou bien via notre formulaire. Nous vous répondrons dans les plus bref délais</p>
							<p>Merci de votre intérêt pour MDC !</p>
                            <p id="contactInfoTitle">Nos coordonnées</p>
                            <div id="contactInfoText">
								<p class="infotext">MDC</p>
								<p class="infotext">66, Avenue des Champs-Elysées Lot 41</p>
								<p class="infotext">75008 PARIS</p>
								<p class="infotext">Tél. : (+0033) 06 52 86 17 93</p>
								<p class="infotext">Fax : N/A</p>
								<p class="infotext">Mail : mdc.negoce@gmail.com</p>
							</div>
                            <div id="formulaire">un formulaire en cours</div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div id="footerLinks">
                Liens et aide au référencement ici
            </div>
        </div>

        <!-- modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Localisation</h4>
                    </div>
                    <div class="modal-body">
                        <div id="localisationTitle">Plan d'accés</div>
                        <div id="localisationMap"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
